<template id="splash-template">
  <div
    class="fixed inset-0 flex items-center justify-center bg-gray-50 dark:bg-gray-900"
  >
    <div class="text-center px-4">
      <div class="animate-bounce mb-12">
        <img src="/icons/logo-light.svg" class="w-40 h-40 mx-auto dark:hidden" alt="Logo" />
        <img src="/icons/logo-dark.svg" class="w-40 h-40 mx-auto hidden dark:block" alt="Logo" />
      </div>
      <div class="splash-message-container">
        <p
          class="text-2xl font-bold text-[#34495D] dark:text-gray-50 duration-500"
          id="splash-message"
        ></p>
      </div>
    </div>
  </div>
</template>
